body {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table {
  margin: auto;
}

.tileRow {
  height: 1em;
}

.tile {
  width: 1em;
}

.path{
  background-color: white;
}

.wall {
  background-color: gray;
}

.player {
  background-color: black;
}

.enemy {
  background-color: red;
}

.potion {
  background-color: green;
}

.boss {
  background-color: darkred;
}

.weapon {
  background-color: blue;
}

.dark {
  background-color: black;
}